[submodule "filesofpix"]
	path = filesofpix
	url = https://github.com/hkittelberger/filesofpix.git
[submodule "iii"]
	path = iii
	url = https://github.com/hkittelberger/iii.git
[submodule "locality"]
	path = locality
	url = https://github.com/hkittelberger/locality
[submodule "arith"]
	path = arith
	url = https://github.com/hkittelberger/arith
[submodule "bomb"]
	path = bomb
	url = https://github.com/hkittelberger/bomb
[submodule "um"]
	path = um
	url = https://github.com/hkittelberger/um
[submodule "rpn"]
	path = rpn
	url = https://github.com/hkittelberger/rpn
